header
  if message.length >= 1
    if message == "Logged out" || message == "Logged In" || message == "Item added to the shopping cart" || message == "Item removed from the shopping cart" || message == "Item added to the wishlist" || message == 'Item removed from the wishlist'
      .alert.alert-success.alert-dismissible.fade.show(role='alert')
        p(style='text-align: center;') #{message}
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    else
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        p(style='text-align: center;') #{message}
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

  .container.pt-3
    // navbar
    .row
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          a.navbar-brand(href="/") Ali Bazon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              // men women dropdown navbar
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.navbar-brand.dropdown-toggle(role='button' data-bs-toggle='dropdown' aria-expanded='false') #{gender}
                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                  li
                    a.dropdown-item(href=`/women`) Women
                  li
                    a.dropdown-item(href='/men') Men

              each navbarCategory,index in categories
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-bs-toggle='dropdown' aria-expanded='false') #{navbarCategory.name}
                  ul.dropdown-menu(aria-labelledby='navbarDropdown')
                    each subcategory in subcategories[index]
                      li
                        a.dropdown-item(href=`/${gender}/${subcategory.id}`)=subcategory.name
            form#searchform.d-flex.mb-2.mb-lg-0(action="/search" method="get")
              input.me-2(id='searchinput' type='text' name="searchString" placeholder='Search' aria-label='Search' required='')
              button.btn.btn-outline-success(type='submit') Search
            // right side sign up and sign up
            if !currentUser
              include authorization.pug
            else
              div.mx-3
                a.btn-btn-dark(href="/logout" style="color:black; text-decoration:none;") Logout
                a.mx-2(href="/profile")
                  img.avatar.img-circle.hidden-xs-down(src="/static/images/profile/user.png" alt="Profile" style="color:black; text-decoration:none;" title='Profile')
                a.mx-2(href='/cart')
                  img.avatar.img-circle.hiddeb-xs-down(src="/static/images/profile/shopping-cart-32.png" alt="Shopping Cart" style="color:black; text-decoration:none;" title='Shopping Cart')
                a.mx-2(href='/wishlist')
                  img.avatar.img-circle.hiddeb-xs-down(src="/static/images/profile/list-32.png" alt="Wishlist" style="color:black; text-decoration:none;" title='Wishlist')        
    // breadcrumbs
    .row.mt-2
      if breadcrumbs
        nav(aria-label='breadcrumb')
          ol(class="breadcrumb")
            each crumb, index in breadcrumbs
              if crumb
                if index == breadcrumbs.length - 1
                    li(class='breadcrumb-item active' aria-current='page') #{crumb.name}
                else
                    li(class='breadcrumb-item') #[a(href=crumb.url) #{crumb.name}]
  
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")    
      