extends layout.pug

block content
  body
    // Products
    .container
      if products
        - let i = 0;
        - while (i < products.length)
          .row.mt-5
            .col-md-6.col-sm-1
              .row
                h6 #{products[i].name}
                - if(products[i].name.includes('/')){products[i].name = products[i].name.replaceAll('/','-'); }
                .col-4.d-none.d-lg-block
                  form(action=`/${gender}/${currentRoute}/product/${products[i].name}`, method='get')
                    button.btn(type='submit')
                      img.img-fluid.rounded.d-none.d-lg-block(src=`/static/images/${products[i].image_groups[0].images[0].link}` alt=`${products[i].image_groups[0].images[0].alt}`)
                .col-8
                  p #{products[i].page_description}
                  p Price: #{products[i].price}
                  a.btn.btn-info(href=`/${gender}/${currentRoute}/product/${products[i].name}` role='button') More Info
            if (i < products.length -1)
              .col-md-6.col-sm-1
                .row
                  h6 #{products[i+1].name}
                  - if(products[i+1].name.includes('/')){products[i+1].name = products[i+1].name.replaceAll('/','-'); }
                  .col-4.d-none.d-lg-block
                    form(action=`/${gender}/${currentRoute}/product/${products[i+1].name}`, method='get')
                      button.btn(type='submit')
                        img.img-fluid.rounded.d-none.d-lg-block(src=`/static/images/${products[i+1].image_groups[0].images[0].link}` alt=`${products[i+1].image_groups[0].images[0].alt}`)
                  .col-8
                    p #{products[i+1].page_description}
                    p Price: #{products[i+1].price}
                    a.btn.btn-info(href=`/${gender}/${currentRoute}/product/${products[i+1].name}` role='button') More Info
          - i = i + 2
          